{
  // 業務代碼使用presets
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": "67" // 67+ 對ES6支持很好, 就不會使用babel-polyfill轉換ES6語法了
      },
      "useBuiltIns": "usage" // babel-polyfill只填充頁面用到的語法Promise/map, 而不是填充全部, 且是注冊到全局的
    }],
    "@babel/preset-react"
  ]
}