* {
  margin: 0;
  padding: 0;
}

html, body {
  min-width: 1200px;
  max-width: 100vw;
  max-width: 100vh;
  width: 100%;
  height: 100%;
}

#app {
  position: relative;
}

.amount {
  color: gold;
  font-size: 85px;
  display: flex;
  justify-content: center;
}

.list-enter-active,
.list-leave-active {
  transition: transform 1s ease, opacity 1s ease;
}

.list-enter-from {
  opacity: 0;
  transform: translateY(50%);
}

.list-leave-to {
  opacity: 0;
  transform: translateY(-50%);
}
